@font-face {
  font-family: "Fraunces";
  src: url("assets/fonts/Fraunces_Soft-Black.ttf");
}
@font-face {
  font-family: "Barlow";
  src: url("assets/fonts/Barlow-Black.ttf");
}
html, body {
  padding: 0;
  margin: 0;
  font-family: "Fraunces";
  font-style: normal;
}

.head {
  top: 0;
  text-align: center;
  background-size: contain;
  background-image: url("assets/img/grapefruit.png");
  background-repeat: no-repeat;
  background-position: center;
}
.head_arrow {
  padding: 0;
  margin: 0;
  background-size: contain;
  background-image: url("assets/img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.head_title {
  padding: 0;
  margin: 0;
  padding-top: 195px;
  font-weight: 900;
  font-size: 56px;
  line-height: 69px;
  text-align: center;
  letter-spacing: 8.75px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.head_options {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.head_options_choice {
  display: inline;
  float: right;
  color: #FFFFFF;
  font-family: "Barlow";
}
.head_options_choice:hover {
  color: #77cdf5;
}
.head_contact {
  display: inline;
  float: right;
  background: #FFFFFF;
  border: none;
  border-radius: 28px;
  font-family: "Fraunces";
  font-style: normal;
  text-transform: uppercase;
}
.head_contact:hover {
  color: #FFFFFF;
  background-color: #77cdf5;
}
.head_sunnyside {
  display: inline;
  float: left;
  background-image: url("assets/img/sunnyside 2-1.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.head_burger {
  margin: 0;
  padding: 0;
  display: inline;
  float: right;
  width: 40px;
  margin-top: 32px;
  margin-right: 50px;
  height: 25px;
  background: none;
  border: none;
}
.head_burger_bar {
  display: block;
  background-color: #FFFFFF;
  height: 2px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.head_burger:hover .head_burger_bar {
  background-color: #77cdf5;
}

.elements section {
  padding: 0;
  margin: 0;
  width: 100%;
}

.img-block-txt, .glass, .egg {
  display: block;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
}

.graphic {
  background-image: url("assets/img/graphic-design.png");
}

.photography {
  background-image: url("assets/img/photography.png");
}

.egg {
  background-image: url("assets/img/egg.jpg");
}

.glass {
  background-image: url("assets/img/glass.jpg");
}

.testimonials {
  margin-top: 120px;
  margin-bottom: 120px;
  margin-left: 80px;
  margin-right: 80px;
}
.testimonials h3 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 5px;
  color: #A7AAAD;
}
.testimonials_posts {
  padding: 0;
  margin: 0;
  width: 100%;
}
.testimonials_post {
  width: calc(33% - 30px);
  min-width: 340px;
  margin-left: 15px;
  margin-right: 15px;
}
.testimonials_comment {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}
.testimonials_comment p {
  font-family: "Barlow";
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.128571px;
  color: #5B636D;
}
.testimonials_comment h2 {
  font-family: "Fraunces";
  font-weight: 900;
  line-height: 22px;
  letter-spacing: -0.128571px;
  color: #24303E;
}
.testimonials_comment h3 {
  font-family: "Barlow";
  font-size: 14px;
  line-height: 25px;
  letter-spacing: -0.1px;
  color: #A7AAAD;
}
.testimonials_picture, .testimonials_picture-3, .testimonials_picture-2, .testimonials_picture-1 {
  width: 72px;
  height: 72px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}
.testimonials_picture-1 {
  background-image: url("assets/img/pic-1.png");
}
.testimonials_picture-2 {
  background-image: url("assets/img/pic-2.png");
}
.testimonials_picture-3 {
  background-image: url("assets/img/pic-3.png");
}

.foot, .foot_pic, .foot_pic-4, .foot_pic-3, .foot_pic-2, .foot_pic-1, .foot_pics {
  padding: 0;
  margin: 0;
  background-color: #90D4C6;
}
.foot_nav {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.foot_nav_elem {
  margin-left: 28px;
  margin-right: 28px;
}
.foot_nav_elem a {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.128571px;
  color: #458D7E;
  text-decoration: none;
}
.foot_nav_elem a:hover {
  color: #FFFFFF;
}
.foot_pics {
  display: grid;
  grid-template-columns: 360px 360px 360px 360px;
  grid-gap: 0px 0px;
  grid-template-areas: "foot_pic-1 foot_pic-2 foot_pic-3 foot_pic-4";
}
.foot_sunnyside-logo {
  margin-top: 72px;
  height: 33px;
  background-size: contain;
  background-image: url("assets/img/sunnyside 2.svg");
  filter: brightness(40%);
  background-repeat: no-repeat;
  background-position: center;
}
.foot_pic, .foot_pic-4, .foot_pic-3, .foot_pic-2, .foot_pic-1 {
  display: block;
  width: 360px;
  height: 450px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.foot_pic-1 {
  background-image: url("assets/img/milk.jpg");
}
.foot_pic-2 {
  background-image: url("assets/img/grapefruit-plate.jpg");
}
.foot_pic-3 {
  background-image: url("assets/img/cone.jpg");
}
.foot_pic-4 {
  background-image: url("assets/img/sugar.jpg");
}

.socialMedia, .pinterest, .twitter, .snap, .fb {
  width: 20px;
  height: 20px;
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 72px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(45%);
}

.fb {
  background-image: url("assets/img/facebook.svg");
}
.fb:hover {
  filter: brightness(100%);
}

.snap {
  background-image: url("assets/img/camera.svg");
}
.snap:hover {
  filter: brightness(100%);
}

.twitter {
  background-image: url("assets/img/twitter.svg");
}
.twitter:hover {
  filter: brightness(100%);
}

.pinterest {
  background-image: url("assets/img/pinterest.svg");
}
.pinterest:hover {
  filter: brightness(100%);
}

@media only screen and (min-width: 1441px) {
  body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
  .head {
    height: 800px;
  }
  .head_arrow {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 200px;
  }
  .head_options_choice {
    padding-top: 50px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
  }
  .head_burger {
    visibility: hidden;
  }
  .head_contact {
    margin-left: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 34px;
    margin-right: 48px;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.107143px;
  }
  .head_sunnyside {
    margin-left: 40px;
    margin-top: 50px;
    width: 170px;
    height: 33px;
  }
  .graphic, .photography {
    display: block;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .elements {
    display: grid;
    grid-template-columns: 720px 720px;
    grid-gap: 0px 0px;
    grid-template-areas: "brand egg" "glass audience" "graphic photography";
  }
  .brand, .audience {
    padding: 0px;
    margin: 0px;
    position: relative;
  }
  .testimonials_posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .details {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 165px;
    margin-right: 165px;
    font-style: normal;
    font-weight: 900;
  }
  .details h2 {
    font-family: "Fraunces";
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -0.285714px;
    color: #24303E;
  }
  .details p {
    font-family: "Barlow";
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.128571px;
    color: #808397;
  }
  .details_underline {
    height: 8px;
    width: 124px;
    border-radius: 10px;
    opacity: 0.25;
  }
  .details_underline-1 {
    height: 8px;
    width: 124px;
    border-radius: 10px;
    opacity: 0.25;
    background-color: #FAD400;
  }
  .details_underline-2 {
    height: 8px;
    width: 124px;
    border-radius: 10px;
    opacity: 0.25;
    background-color: #FE7766;
  }
  .details_content:hover .details_underline {
    opacity: 1;
  }
  .details_content:hover .details_underline-1, .details_content:hover .details_underline-2 {
    opacity: 1;
  }
  .details_content_link {
    position: absolute;
    margin-top: -14px;
    z-index: 1;
  }
  .details_content_link a {
    font-family: "Fraunces";
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24303E;
    text-decoration: none;
  }
}
@media only screen and (max-width: 1440px) {
  html, body {
    width: 100%;
  }
  .head {
    width: 100%;
    height: 800px;
    background-size: auto;
  }
  .head_nav {
    height: 30px;
  }
  .head_title {
    font-size: 40px;
  }
  .head_arrow {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    height: 100px;
  }
  .head_options_choice {
    visibility: hidden;
  }
  .head_contact {
    visibility: hidden;
  }
  .head_sunnyside {
    margin-left: 24px;
    margin-top: 32px;
    width: 124px;
    height: 25px;
  }
  .elements {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0px 0px;
    grid-template-areas: "egg" "brand" "glass" "audience" "graphic" "photography";
  }
  .graphic, .photography {
    display: block;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .brand, .audience {
    padding: 0px;
    margin: 0px;
    width: 100%;
    position: static;
  }
  .egg, .glass {
    width: 100%;
    background-size: cover;
  }
  .egg {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .brand {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .glass {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .audience {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .graphic {
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .photography {
    grid-row-start: 6;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .details {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 35px;
    margin-right: 35px;
  }
  .details h2 {
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.228571px;
    color: #24303E;
  }
  .details p {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: #808397;
  }
  .details_underline {
    height: 8px;
    width: 124px;
    border-radius: 10px;
    opacity: 0.25;
  }
  .details_underline-1 {
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    height: 8px;
    width: 124px;
    border-radius: 10px;
    opacity: 0.25;
    background-color: #FAD400;
  }
  .details_underline-2 {
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    height: 8px;
    width: 124px;
    border-radius: 10px;
    opacity: 0.25;
    background-color: #FE7766;
  }
  .details_content:hover .details_underline {
    opacity: 1;
  }
  .details_content:hover .details_underline-1, .details_content:hover .details_underline-2 {
    opacity: 1;
  }
  .details_content_link {
    text-align: center;
    z-index: 1;
  }
  .details_content_link a {
    font-family: "Fraunces";
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24303E;
    text-decoration: none;
  }
  .testimonials_posts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .testimonials_post {
    margin-left: auto;
    margin-right: auto;
  }
  .foot_pics {
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-gap: 0px 0px;
    grid-template-areas: "foot_pic-1 foot_pic-2" "foot_pic-3 foot_pic-4";
  }
  .foot_pic, .foot_pic-1, .foot_pic-2, .foot_pic-3, .foot_pic-4 {
    width: 100%;
    background-size: cover;
  }
  .foot_pic-1, .foot_pic-2, .foot_pic-3, .foot_pic-4 {
    width: 100%;
  }
}